    <footer class="bg-zinc-950 border-t border-zinc-900">
        <div class="gg-container py-12">
            <div class="flex flex-col items-center mb-14">
                <a href="/"><img src="/icons/logo.png?v=4" alt="CaptainNews Logo" class="h-8"></a>
                <p class="mt-2 text-xs text-white">Ενημέρωση σε πραγματικό χρόνο μέσω RSS Feeds</p>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-8 mb-10 pb-[20px] text-center sm:text-left">
{{FOOTER_COLUMNS}}
            </div>
            <div class="border-t border-zinc-900 pt-6 text-center text-white text-sm">
                <p><a href="/policy" class="text-white hover:text-main-yellow transition-colors">Πολιτική Απορρήτου</a> · <a href="/contact" class="text-white hover:text-main-yellow transition-colors">Επικοινωνία</a></p>
            </div>
        </div>
    </footer>
