@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.gg-container {
    width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: var(--color-main-black);
    color: #fff;
}

@theme {

    /* COLORS */
    --color-main-blue: #3749bd;
    --color-main-yellow: #f2d06f;

    --color-main-black: #0a0a0a;
    --color-main-black-2:#090909;
    
    --color-main-grey: #1a1a1a;
    --color-main-grey-2: #121212;

    /* FONTS */
    --font-roboto: "Roboto", sans-serif;
    --font-condensed: "Roboto Condensed", sans-serif;

    /* SPACINGS */
    --spacing-10: "10px",

}

.c_darkmode { 
            --cc-bg: #1a1a1a; 
            --cc-text: #e5e5e5; 
            --cc-btn-primary-bg: #3749bd;         /* Main Blue */
            --cc-btn-primary-text: #ffffff; 
            --cc-btn-primary-hover-bg: #2c3a99; 
            --cc-btn-secondary-bg: #27272a; 
            --cc-btn-secondary-text: #e5e5e5; 
            --cc-btn-secondary-hover-bg: #3f3f46; 
            --cc-toggle-on-bg: #3749bd;           /* Main Blue Toggle */
            --cc-font-family: 'Roboto Condensed', sans-serif; 
        }