@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.gg-container {
    width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: var(--color-main-black);
    color: #fff;
}

@theme {

    /* COLORS */
    --color-main-black: #0a0a0a;
    --color-main-black-2:#090909;
    
    --color-main-grey: #1a1a1a;
    --color-main-grey-2: #121212;

    /* FONTS */
    --font-roboto: "Roboto", sans-serif;
    --font-condensed: "Roboto Condensed", sans-serif;

    /* SPACINGS */
    --spacing-10: "10px",

}